/*body {
     margin: 0 auto;


}*/

ul {
    padding: 0px !important;
}

.menu-principal {
    width: 100%;
    background-color: #c10c0c;
    height: 100px;
}

main,
.content {
    margin: 0 auto;
    width: 980px;
    position: relative;
    margin-top: 0;
}

.lg {
    height: 70px;
    margin-top: 0;
    display: flex;

}

.logo {
    float: left;
    width: 50%;
    position: relative;

}

.redes-sociais ul li {
    margin-left: 7px;
    display: inline-block;
    float: left;
    list-style: none;
    padding: 4px;
}

.redes-sociais {
    width: 25%;
    float: right;
}

.imgmenu {
    width: 70px;
    height: 70px;
}

.header-2 {
    background-color: white;
    width: 980px;
    margin: 0 auto;
    padding: 16px;


}

.menu ul li {
    display: inline-block;
    margin-left: 15px;


}

.menu ul li:hover {
    border-bottom: 1px solid #c10c0c;
}

.menu ul li a:hover {
    color: #c10c0c;

}

.menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;

}

.menu {
    width: 70%;
    float: left;
    margin-left: 145px;
}

.busca {
    /* text-align: center; */
    width: 30%;
    float: right;


}

.busca input {
    background-image: url('../IMG/icone-search.png');
    background-repeat: no-repeat;
    height: 20px;
    padding: 15px;
    width: 190px;
    margin-top: 10px;
    margin: 0 auto;
    background-position: 95%;
    border: 1px solid black;



}

.CemPorCentoDaTela {
    width: 100%;
    float: left;
    position: relative;
    background-color: white;
    color: black;

}

.tela-cem {
    width: 100%;
    float: left;
    position: relative;
    background-color: #c10c0c;
    color: white;
}

.menu-urls {
    height: 80px;


}

.slide {
    width: 1000px;
    height: 431px;
    margin: 0 auto;
    margin-top: 50px;
    /*overflow-x: hidden;*/
}

/*.slide img {

    min-width: 100%;
}*/

button.slick-prev {
    font-size: 0;
    border: none;
}

button.slick-next {
    font-size: 0;
    border: none;
}

.content {
    margin-top: 0 auto;
    margin: 0 auto;
    padding: 0;
    font-size: 26px;


}

.unidade {
   
    font-size: 20px;
    display: inline-block;
    text-align: center;

}

.unidade h3 {
    font-size: 24px;
    text-align: center;
}

.col-3 {
    width: 33.3%;
    float: left;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;

}

.col-3 img {
    height: 160px;
}

.col-4 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 29%;
    float: left;
    position: relative;
}

.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.bloco-imagem {
    height: 300px;
    border: 5px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 2px;
    align-items: center;
}

.bloco-imagem b,
p {
    text-align: left;
}

.bloco-texto {
    margin-top: 3em;
}

.bloco-imagens-texto {
    background-color: #c10c0c;
    

}





.japa img {
    padding-top: 20px;
}

.content h2 {
    text-align: center;
}

body, ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  color: rgba(255, 250, 250, 0.973);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#c10c0c;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

#items-wrapper{
    width: 100%;
    
}

#items{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
    width:100%;
    height: 296px;
    
}
#items::-webkit-scrollbar {
  display: none;
}

.item{
    flex: none;
    width: 100%;
    height: 400px;
    scroll-snap-align: start;
    pointer-events: none;
    text-align:center;
    top:-10%;
    margin-top: -10%;
}

img.slide{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.esconde {
  overflow-y: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
  }
  
  .menu {
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }
  
  .menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
    margin-top: 25px;
  }
  
  .menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
    column-gap: 2.5em;
  }
  
  .menu-item {
    display: flex;
  }
  
  .menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
  }
  
  .menu-item-text {
    flex-grow: 1;
  }
  
  .menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .menu-item-name {
    margin-right: 1.5em;
  }
  
  .menu-item-description {
    line-height: 1.6;
  }

  .button-c{
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      margin-top: 60px;
      cursor: pointer;
  }
  .card_button{
    cursor: pointer;
  }

  .menu-buttons{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 10px;
  }


  .bem-vindo{
    height: 400px;
  }

  .container-card{
    background-color:#c10c0c;
  }

  #button{
    background: white;
    height: 60px;
    line-height: 60px; /*centralizar o texto no*/
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 4px #000000;
    transition: transform 200ms ease-in-out;
    box-sizing: border-box;
  }

  #button:hover{
    transform: scale(1.05);
    color: red;
  }

  #button1{
    background: white;
    height: 60px;
    line-height: 60px; /*centralizar o texto no*/
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 4px #000000;
    transition: transform 200ms ease-in-out;
    box-sizing: border-box;
  }

  #button1:hover{
    transform: scale(1.05);
    color: red;
  }

  #button2{
    background: rgb(165, 4, 4);
    height: 60px;
    line-height: 60px; /*centralizar o texto no*/
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 4px #000000;
    transition: transform 200ms ease-in-out;
    box-sizing: border-box;
  }

  #button2:hover{
    transform: scale(1.05);
  }

  
  
  
  @media screen and (min-width: 992px) {
    .menu {
      font-size: 16px;

    }
  
    .menu-group {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu-item-image {
      width: 125px;
      height: 125px;    }
  }
  


@media (max-width: 600px) {
  
   
   h1{
       font-size: 1em;
   }

   p{
       display: flex;
       flex-direction: column;
       font-size: 20px;
       margin-right: 15px;
   }

   .content{
        display: flex;
        flex-direction: column;
        margin-left: 4.7px;
      
        
   }

   h2{
       display: flex;
       flex-direction: row;
       font-size: 27px;
       margin-left: 18px;
       /* padding-left: 70px; */
   }
   
    #header{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 70px;
    padding: 0;
    position: relative;
   }
  
    #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #c10c0c;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgb(255, 254, 254);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamb {
    border-top: 2px solid;
    width: 20px;
  }
  #hamb::after,
  #hamb::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamb {
    border-top-color: transparent;
  }
  #nav.active #hamb::before {
    transform: rotate(135deg);
  }
  #nav.active #hamb::after {
    transform: rotate(-135deg);
    top: -7px;
  }


}


